NEXT_PUBLIC_BACKEND_URL=https://testnet-production.up.railway.app ## http://localhost:3001 ## https://redesigned-space-funicular-qg9v569x5692xp65-3001.app.github.dev ## http://localhost:3001 
NEXT_PUBLIC_WEBSOCKET_URL=wss://testnet-production.up.railway.app ## ws://localhost:300 ## wss://redesigned-space-funicular-qg9v569x5692xp65-3001.app.github.dev ## ws://localhost:300
NEXT_PUBLIC_PROGRAM_ID=Fa1cQKhbUTXrbVPz4vUksCCwKCLk5FeM71QkqJ1a5gvF
NEXT_PUBLIC_RPC_ENDPOINT=https://devnet.helius-rpc.com/?api-key=ae50d21e-ae63-43d3-a23f-02cd8c93098c
NEXT_PUBLIC_SIGN_IN_MSG="Sign this message for authenticating with your wallet"
NEXT_PUBLIC_CHAIN='testnet'
# Pinata
NEXT_PUBLIC_PINATA_API_KEY=0297ab8d79e265ba1f8d
NEXT_PUBLIC_PINATA_SECRET_KEY=f56827fbf35de663f59db93a5948cea205899fb16a80a484347ced292f4f9914
NEXT_PUBLIC_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIwZTg2MzlkNy0wMTI2LTQ3ODYtOGM1NS02YWViMGZjMTYxZDUiLCJlbWFpbCI6InRvbmltYW5uaW5lbkBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMDI5N2FiOGQ3OWUyNjViYTFmOGQiLCJzY29wZWRLZXlTZWNyZXQiOiJmNTY4MjdmYmYzNWRlNjYzZjU5ZGI5M2E1OTQ4Y2VhMjA1ODk5ZmIxNmE4MGE0ODQzNDdjZWQyOTJmNGY5OTE0IiwiZXhwIjoxNzY5NTIzNzg1fQ.0YcmA88vGkHusRoFmm9ZbP2Uw8hTFHB2_Xv7wr6dlhg